@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WEB LANCHES</h1>
    <p>Seja Bem Vindo(a) ao nosso Site de Pedido de Lanches!!!</p>

    <p>Acesse nosso cardápio para escolher seu Lanche.</p>

</div>

