USE [dbWebLanche]
GO
/****** Object:  StoredProcedure [dbo].[SP_RECUPERA_LANCHE_POR_ID]    Script Date: 05/18/2020 02:00:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_RECUPERA_LANCHE_POR_ID]
@LANCHEID INT
AS
BEGIN
	SELECT * FROM Lanche
	WHERE LancheId = @LANCHEID
END